<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abigail.clubconnecthomepage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.abigail.clubconnecthomepage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Club_Instruction"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.NewClubActivity"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Student_Connect"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Student_Search"
            android:windowSoftInputMode="adjustPan"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Edit_My_Club"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Instructions_Menu"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Main_Page"> </activity>
        <activity android:name="com.example.abigail.clubconnecthomepage.Club_Favorites"></activity>

    </application>

</manifest>